h1 {
    text-align: center;
    color:rgb(4, 4, 190);
}
h2 {
    color: rgb(4, 4, 160);
}
body {
    padding-left: 8px;
    background-color: antiquewhite;
}
footer {
    text-align: center;
    font-size: 0.5em;
}
a {
    text-decoration: none;
    color:orangered;
}
em {
    font-weight: bold;
    font-style: normal;
}